<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> OU Game1 </title>
		
		<link rel="stylesheet" href="../../../data/styles/index.css">
		<!-- Use this when done <link rel="stylesheet" href="ou_game1.css">-->
	</head>
	<body>
		<!--<h1> OU Game1 </h1>-->
		<canvas id="gameSurface" width ="1024" height = "576">
			The current browser does not support HTML5
		</canvas>
		<!--<p> Canvas above </p>-->
		<script type="text/javascript" src="data/app.js"></script>
	</body>
</html>